:root {
    --blue: #3245BF;
    --blue-trans: rgba(50, 69, 191, 0.7);
    --darkPurple: #9A5BFF;
    --lightPurple: #E67BF7;
    --sand: #F9E3BD;
  }

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    line-height: 16px;
    background-color: var(--blue);
}

header{
    padding: 0 0.5rem 0.5rem 0.5rem;
    color: var(--lightPurple);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 3px ridge var(--lightPurple);
}

header h1{
    align-self: center;
}

.control {
    background-color: #9A5BFF;
    text-align: center;
    border-radius: 0  0 0.5rem 0.5rem;
    color: var(--blue);
    font-weight: bold;
    padding: 1rem;
}

.score-tab {
    background-color: var(--sand);
    display: inline-block;
    padding: 1rem;
    margin: 0.5rem;
    width:100px;
    border-radius: 0.5rem;
    border: 2px solid var(--blue);
}

.scores {
    font-size: 1.5rem;
}

.score {
    padding: 0.5rem;
}
#mode-buttons{
    background-color: var(--sand);
    padding: 0.5rem;
    margin:0.5rem;
    border: 2px solid var(--blue);
    border-radius: 0.5rem;
}
#two-player{
    margin-left: 1.5rem;
}

#reset {
    width:40%;
    padding: 0.5rem;
    color: var(--blue);
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    background-color: var(--sand);
    border: 2px solid var(--blue);
    border-radius: 0.5rem;
    cursor: pointer;
}

.container {
    width: 100%;
    height: calc(100vh - 159px);
    text-align: center;
    background-size: cover;
    
}

input[type="radio"]{
    accent-color: var(--lightPurple);
    cursor: pointer;
}

canvas {
    margin: 2%;
    border: 5px ridge var(--lightPurple);
    background-color: var(--blue-trans);
    cursor: none;
}