:root {
    --blue: #3245BF;
    --blue-trans: rgba(50, 69, 191, 0.7);
    --darkPurple: #9A5BFF;
    --lightPurple: #E67BF7;
    --sand: #F9E3BD;
    --success: #36ce66;
  }

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    line-height: 16px;
    background-color: var(--blue);
}

header{
    padding: 0 0.5rem 0.5rem 0.5rem;
    color: var(--lightPurple);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 3px ridge var(--lightPurple);
}

header h1{
    align-self: center;
}

h2{
    color: var(--lightPurple);
    background-color: var(--blue);
    display: inline-block;
    padding: 1rem;
    width: 60%;
}

h3{
    color: var(--darkPurple);
    margin-top: 3rem;
    text-decoration: underline;
}

.control {
    background-color: #9A5BFF;
    text-align: center;
    border-radius: 0  0 0.5rem 0.5rem;
    color: var(--blue);
    font-weight: bold;
    padding: 1rem;
}

.score-tab {
    background-color: var(--sand);
    display: inline-block;
    padding: 1rem;
    margin: 0.5rem;
    width:100px;
    border-radius: 0.5rem;
    border: 2px solid var(--blue);
    transition: 1s;
}

.scores {
    font-size: 1.5rem;
}

.score {
    padding: 0.5rem;
}
#mode-buttons{
    background-color: var(--sand);
    padding: 0.5rem;
    margin:0.5rem;
    border: 2px solid var(--blue);
    border-radius: 0.5rem;
}
#two-player{
    margin-left: 1.5rem;
}
#credits{
    width: 95%;
    text-align: right;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}
#credits a{
    color: var(--blue);
    cursor: pointer;
}
#credits a:hover{
    color: var(--sand);
}

button {
    width:45%;
    padding: 0.5rem;
    color: var(--blue);
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    background-color: var(--sand);
    border: 2px solid var(--blue);
    border-radius: 0.5rem;
    cursor: pointer;
}
button:hover{
    background-color: var(--blue);
    color: var(--sand);
}

.material-symbols-sharp {
    font-size: 14px;
    position: relative;
    top:2px
}

.container {
    width: 100%;
    height: calc(100vh - 174px);
    text-align: center;
    background-size: cover;
    
}

input[type="radio"]{
    accent-color: var(--lightPurple);
    cursor: pointer;
}

canvas {
    margin: 2%;
    border: 5px ridge var(--lightPurple);
    background-color: var(--blue-trans);
    cursor: none;
}

/* * Title: How To Create a Modal Box * Author:(W3 Schools)) * Date: (2023) * Availability: (https://www.w3schools.com/howto/howto_css_modals.asp) *  */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: var(--sand);
    margin: 2% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    color: var(--blue);
    line-height: 1.5rem;
}
  
/* The Close Button */
.close {
    color: var(--darkPurple);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: var(--blue);
    text-decoration: none;
    cursor: pointer;
}


@media screen and (max-width: 1200px) {
    .control {
        width: 80%;
    }
}